.card {
    margin: 3rem 2rem;
    padding: 2rem;
    background-color: #131313;
    border-radius: .8rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    height: max-content;
    >div {
        opacity: 0.5;
        font-size: 1.2rem;
    }
    .line {
        background-color: white;
        border-radius: 1rem;
        height: 1.5px;
        margin: .8rem 0.1rem 1.5rem;
        opacity: 0.5;
    }
}