.card {
    padding: 0.9rem;
    background-color: #232323;
    min-width: 18rem;
    margin: 1rem;
    margin-right: 0;
    border-radius: .5rem;
    p {
        padding-bottom: 0.2rem;
        margin: 0;
    }
}

.row {
    display: flex;
    img {
        border-radius: .3rem;
    }
}

.box {
    padding: 0 1.5rem;
    >div {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    >p {
        opacity: 0.5;
        margin-bottom: 0.4rem;
    }
}

.row_two {
    margin: .2rem 0;
    display: flex;
    opacity: 0.5;
    justify-content: space-between;
}

.row_two p:first-child {
    font-size: 0.9rem;
}

.description {
    opacity: 0.5;
    font-weight: 300;
    font-size: 0.9rem;
}